<!DOCTYPE html>
<html>
  <head>
    <title>CacheReader</title>
    <%= stylesheet_link_tag    "cache_manager/application", media: "all" %>
    <%= javascript_include_tag "cache_manager/application" %>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render partial: 'shared/navbar' %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>