<div class="row">
  <div class="col-md-8">
    <h1>
      <%= pluralize(@keys.count, 'key') %>
    </h1>
  </div>
  <div class="col-md-4">
    <%= form_tag({controller: :keys, action: :flush}, method: "put") do %>
    <%= hidden_field_tag :key, 'all' %>
    <%= submit_tag "Flush All Keys" ,class: 'btn btn-block btn-danger' %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <th>
      Key
    </th>
    <th>
      Action
    </th>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
    <tr>
      <td>
        <%= link_to key, key_url(id: key) %>
      </td>
      <td>
        <%#= link_to 'Delete', '#',class: 'btn btn-danger btn-xs' %>
        <%= form_tag({controller: :keys, action: :flush}, method: "put") do %>
        <%= hidden_field_tag :key, key %>
        <%= submit_tag "Flush" ,class: 'btn btn-danger btn-xs' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
